<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674229634836-5q4vbg1e2l90o2ngqlod0m03k4noucog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674229634836-5q4vbg1e2l90o2ngqlod0m03k4noucog</string>
	<key>API_KEY</key>
	<string>AIzaSyCRqUwMX8dhVHtJWLie2dnbHnT7TV7flg0</string>
	<key>GCM_SENDER_ID</key>
	<string>674229634836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackLocation</string>
	<key>PROJECT_ID</key>
	<string>fcm-sentry</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-sentry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674229634836:ios:a5edff2b7a075aab936401</string>
</dict>
</plist>